body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding:0;
    margin:0;
    background-color: #efeee7;
}

a {
    color: #d21034;
}

.navbar {
    margin-bottom: 10px;
}

.container {
    margin: 0 auto;
    width: 1024px;
    background-color: #333333;
}

.contact-info {
    text-align: center;
    width: 100%;
    background-color: #efeee7;
}

h1 {
    text-align: center;
    color: #333333;
    font-size: 28px;
}
